/* General Reset */
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors.css */
:root {
  --color-black: #000000;
  --color-dark: #333333;
  --color-white: #ffffff;
  --color-dark-green: #5c7843;
  --color-green: #28a745;
  --color-light-green: #abcb42;
  --color-very-light-green: #e3ffe9;
  --color-light-gray: #dedede;
  --color-gray: #cccccc;
  --color-dark-gray: #777777;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
  min-height: 60vh;
}

@media (max-width: 1600px) {
  .main-container {
    max-width: 1280px;
  }
}
