.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.car-link {
  text-decoration: none;
}

.car-card {
  background-color: var(--color-white);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--color-light-gray);
}

.car-card:hover {
  border: 1px solid var(--color-green);
}

.car-card .car-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.car-card .car-details {
  padding: 15px;
}

.car-card .car-title {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--color-dark);
  overflow: hidden; /* Hides overflow content */
  display: -webkit-box; /* Enables flexbox layout */
  -webkit-line-clamp: 2; /* Limits to 2 lines */
  -webkit-box-orient: vertical; /* Sets the box orientation */
  text-overflow: ellipsis; /* Displays ellipsis (...) */
}

.car-card .car-address {
  font-size: 0.825rem;
  line-height: 1rem;
  color: #888888;
  margin: 5px 0 15px;
  overflow: hidden; /* Hides overflow content */
  display: -webkit-box; /* Enables flexbox layout */
  -webkit-line-clamp: 1; /* Limits to 2 lines */
  -webkit-box-orient: vertical; /* Sets the box orientation */
  text-overflow: ellipsis; /* Displays ellipsis (...) */
}

.car-card .features {
  display: flex;
  justify-content: space-between;
  color: #484848;
  font-size: 0.825rem;
  line-height: 1rem;
  margin-bottom: 15px;
}

.car-card .features span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.car-card .car-price {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: var(--color-green);
}
